@model Admin
@{
    ViewData["Title"] = "Login";
}

<style>
    .content {
        max-width: 600px;
        margin: auto;
        text-align: center;
    }
</style>

<div class="content">
    <h1>Login</h1>
</div>


