@{

}

<div class="text-center">
    <h1 class="display-4">Welcome Team 4</h1>
    <h1>@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
