@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TimeZoneInfo tzf = TimeZoneInfo.FindSystemTimeZoneById("Singapore Standard Time");
    DateTime timeNow = TimeZoneInfo.ConvertTime(DateTime.Now, tzf);
    int monthNow = timeNow.Month;
    String[] seqMonths = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"};
    int[] seqMonthsNumber = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 };
    String[] monthArray = new string[12];
    int[] monthArrayNumber = new int[12];
    //starting month is monthNow, create new string[] starting from monthNow
    //remember that even though month may give 2 for February, index 2 is March
    for (int i = 0; i < 12; i++)
    {
        if(monthNow >= 12) { monthNow -= 12; }
        monthArray[i] = seqMonths[monthNow];
        monthArrayNumber[i] = seqMonthsNumber[monthNow];
        monthNow++;
    }
    string month0 = monthArray[6];
    string month1 = monthArray[7];
    string month2 = monthArray[8];
    string month3 = monthArray[9];
    string month4 = monthArray[10];
    string month5 = monthArray[11];

    //all lines
    List<Transaction> tList = ViewBag.breakdownList;
    int ALL0 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[6]).Count();
    int ALL1 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[7]).Count();
    int ALL2 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[8]).Count();
    int ALL3 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[9]).Count();
    int ALL4 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[10]).Count();
    int ALL5 = tList.Where(x => x.transactionTime.Month == monthArrayNumber[11]).Count();
    //green line id = 1
    List<Transaction> EWLine = tList.Where(x => x.StationOnLine.LineId == 1).ToList();
    int EW0 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[6]).Count();
    int EW1 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[7]).Count();
    int EW2 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[8]).Count();
    int EW3 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[9]).Count();
    int EW4 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[10]).Count();
    int EW5 = EWLine.Where(x => x.transactionTime.Month == monthArrayNumber[11]).Count();
    //red line id = 2
    List<Transaction> NSLine = tList.Where(x => x.StationOnLine.LineId == 2).ToList();
    int NS0 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[6]).Count();
    int NS1 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[7]).Count();
    int NS2 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[8]).Count();
    int NS3 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[9]).Count();
    int NS4 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[10]).Count();
    int NS5 = NSLine.Where(x => x.transactionTime.Month == monthArrayNumber[11]).Count();
    //yellow line id = 3
    List<Transaction> CCLine = tList.Where(x => x.StationOnLine.LineId == 3).ToList();
    int CC0 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[6]).Count();
    int CC1 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[7]).Count();
    int CC2 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[8]).Count();
    int CC3 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[9]).Count();
    int CC4 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[10]).Count();
    int CC5 = CCLine.Where(x => x.transactionTime.Month == monthArrayNumber[11]).Count();
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<h5 style="text-align:center">Train breakdown count in the past 6 months</h5>
<canvas id="myChart" width="400" height="240"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['@month0', '@month1', '@month2', '@month3', '@month4', '@month5'],
            datasets: [
                {
                    label: 'ALL',
                    data: [@ALL0, @ALL1, @ALL2, @ALL3, @ALL4, @ALL5],
                    backgroundColor: ['rgba(0, 0, 0, 0)'],
                    borderColor: ['rgba(255,192,203, 1)'],
                    borderWidth: 1
                },
                {
                    label: 'EW',
                    data: [@EW0, @EW1, @EW2, @EW3, @EW4, @EW5],
                    backgroundColor: ['rgba(0, 0, 0, 0)'],
                    borderColor: ['rgba(1, 152, 117, 1)'],
                    borderWidth: 1
                },
                {
                    label: 'NS',
                    data: [@NS0, @NS1, @NS2, @NS3, @NS4, @NS5],
                    backgroundColor: ['rgba(0, 0, 0, 0)'],
                    borderColor: ['rgba(255, 0, 0, 1)'],
                    borderWidth: 1
                },
                {
                    label: 'CC',
                    data: [@CC0, @CC1, @CC2, @CC3, @CC4, @CC5],
                    backgroundColor: ['rgba(0, 0, 0, 0)'],
                    borderColor: ['rgba(248, 148, 6, 1)'],
                    borderWidth: 1
                }
            ]
        },
        options: {
            //legend: {
            //    display: false,
            //},
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>